html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

form {
  input.invalid {
    color: red;
    border: 2px solid red;
  }

  p.error {
    color: red;
  }
}

